{% extends 'base.html' %}
{% block content %}
<div class='container'>
<h3 class='my-4 py-2'>Add Stocks To Your Portfolio</h3>


<form action='{% url 'addstock' %}' class="form-inline" method='POST'>
{% csrf_token %} 
<div class="row">

  <div class='col-md-3'>
  <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Enter Ticker Symbol" name='stock'></div>
  <div class='col-md-3'>
  <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Enter Quantity" name='quantity'> </div>
  <div class='col-md-3'>
  <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Enter Price" name='price'></div>
  <div class='col-md-3'>
  <button class='btn btn-outline-success my-3 my-sm-0' type='submit'>Buy Stock</button></div>

</div>
</form>
<br/>

<h5 class='text-left'>Portfolio</h5>
                
                <table class="table table-bordered table-dark">
                  <thead>
                    <tr>
                      <th scope="col">Stock</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Price</th>
                      <th scope="col">Sell</th>
                    </tr>
                  </thead>
                  <tbody>

                {% for item in stocks %}
                    <tr>
                      <th scope="row">{{ item }} </th>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }}</td>
                        <td><a href='{% url 'delete' item.id %}'> Sell </a></td>
                    </tr>
                {% endfor %}

                  </tbody>
                </table>
                <br></br>


</div>

{% endblock %}